.card {
    transition: all 0.175s ease;  
}

.card img{
    width: 100%;
}

.card:hover{
    transform:scale(.95);
    overflow: visible;
    border:1px solid transparent;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}